
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link rel="icon" href="../../favicon.ico">

    <title>文章列表页</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


  </head>

  <body>

    <div class="container">
      
         <ul>
         
                <% for(var i=0; i<articles.length; i++) {%>
                        <li><a href="/article/update/<%= articles[i]._id %>"><%= articles[i].title %></a><input type="button" value="X"/></li>
                     <% } %>


            </ul>  


    </div> <!-- /container -->
    <script src="/javascripts/jquery.1.8.3.min.js"></script>
    <script>
      

    </script>

  </body>
</html>
