
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link rel="icon" href="../../favicon.ico">

    <title>登录</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

   
    <!-- Custom styles for this template -->
    <link href="/stylesheets/users/signup.css" rel="stylesheet">
   
   
  </head>

  <body>

    <div class="container">

      <form id="signinForm" class="form-signin" method="post" action="/users/logup">
        <h2 class="form-signin-heading">请登录</h2>
        <label for="inputEmail" class="sr-only">用户名</label>
        <input type="text" name="userName" id="userName" class="form-control" placeholder="用户名" required autofocus>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" name="pwd" id="pwd" class="form-control" placeholder="密码" required>
       
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        <a href="/users/signup">注册</a>
        <span id="msg" class="err"></span>
      </form>

    </div> <!-- /container -->
    <script src="/javascripts/jquery.1.8.3.min.js"></script>
    <script>


      $("#signinForm").submit(function(){
       

        $.ajax({
          url:"/users/signin",
          type:"post",
          data:$("#signinForm").serialize(),
          success:function(data){
              if(data.status==-1){
                  $("#msg").text(data.msg).show();
              }else{
                $("#msg").text(data.msg).hide()
                location.href="/";
              
              }

          }
        });


        return false;
      });
    </script>

  </body>
</html>
